@using Microsoft.AspNetCore.Mvc.Localization
@using ObserverPatternWeb.Resources.OPStrings
@inject IHtmlLocalizer<OPStringsResources> L
@{ ViewData["Title"] = "OrgPage"; }

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Tree view</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Miscellaneous</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Tree view</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modal inmodal" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">新增單位</h4>
                    <small class="font-bold">請輸入單位資訊後點及新增單位.</small>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>單位名稱</label>
                        <input id="CreateOuName" type="text" placeholder="請輸入單位名稱" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>單位編碼</label>
                        <input id="CreateOuCode" type="text" placeholder="請輸入單位編碼" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>單位級別</label>
                        <input id="CreateOuLevel" type="text" placeholder="請輸入單位級別" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>單位排序</label>
                        <input id="CreateOuIndex" type="text" placeholder="請輸入單位排序" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="CreateNode()">建立單位</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="createUserModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">新增人員</h4>
                    <small class="font-bold">請輸入人員資訊後點及新增人員.</small>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>人員帳號</label>
                        <input id="CreateUserName" type="text" placeholder="請輸入人員名稱" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>人員密碼</label>
                        <input id="CreateUserPassword" type="text" placeholder="請輸入人員密碼" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>人員名稱</label>
                        <input id="CreateUserDisplayName" type="text" placeholder="請輸入人員名稱" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>人員生日</label>
                        <input id="CreateUserBirthday" type="date" placeholder="請輸入人員生日" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>人員信箱</label>
                        <input id="CreateUserMail" type="email" placeholder="請輸入人員信箱" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>人員電話</label>
                        <input id="CreateUserTEL" type="tel" placeholder="請輸入人員電話" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="CreateUser()">建立人員</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">編輯單位</h4>
                    <small class="font-bold">請修改單位資訊後點及儲存單位.</small>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>單位編號</label>
                        <input id="EditOuId" disabled type="text" placeholder="請輸入單位名稱" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>單位名稱</label>
                        <input id="EditOuName" type="text" placeholder="請輸入單位名稱" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>單位編碼</label>
                        <input id="EditOuCode" type="text" placeholder="請輸入單位編碼" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>單位級別</label>
                        <input id="EditOuLevel" type="text" placeholder="請輸入單位級別" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>啟用單位</label>
                        <input id="EditOuEnable" type="checkbox" value="true" class="input-mini">
                    </div>
                    <div class="form-group">
                        <label>單位排序</label>
                        <input id="EditOuIndex" type="text" placeholder="請輸入單位排序" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="EditNode()">儲存單位</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>組織單位</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="using_json"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>人員</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row" id="MembersContain">
                        <div class="col-lg-4">
                            <div class="contact-box">
                                <a class="row" href="@Url.Action("Profile", "AppViews")">
                                    <div class="col-4">
                                        <div class="text-center">
                                            <img alt="image" class="rounded-circle m-t-xs img-fluid" src="~/Images/a2.jpg">
                                            <div class="m-t-xs font-bold">Graphics designer</div>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h3><strong>John Smith</strong></h3>
                                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                        <address>
                                            <strong>Twitter, Inc.</strong><br>
                                            795 Folsom Ave, Suite 600<br>
                                            San Francisco, CA 94107<br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            
        </div>
    </div>
    </div>

@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
        <link rel="stylesheet" href="~/lib/jstree/dist/themes/default/style.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
        <link rel="stylesheet" href="~/lib/jstree/dist/themes/default/style.min.css"/>
    </environment>
}

@section Scripts {
    <environment names="Development">
        <script src="~/lib/sweetalert/dist/sweetalert-dev.js"></script>
        <script src="~/lib/jstree/dist/jstree.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/lib/jstree/dist/jstree.min.js"></script>
    </environment>

    <script type="text/javascript">
        var nodeData;

        $(document).ready(function() {
            $("#using_json")
                .on('select_node.jstree',
                    function(e, ou) {
                        axios.get(site.MemberServiceUrl + "/ByOuId", { params: { ouid: ou.node.id } })
                            .then(
                                function (response) {
                                    $("#MembersContain").empty();
                                    for (var i = 0; i < response.data.length; i++) {
                                        var str = "<div class=\"col-lg-4\">" +
                                            "<div class=\"contact-box\">"+
                                            "<a class=\"row\" href=\"/AppViews/Profile\">"+
                                            "<div class=\"col-4\">"+
                                            "<div class=\"text-center\">"+
                                            "<img alt=\"image\" class=\"rounded-circle m-t-xs img-fluid\" src=\"/Images/a2.jpg\">"+
                                            "<div class=\"m-t-xs font-bold\">" + response.data[i].leaderTitle +"</div>"+
                                            "</div>" +
                                            "</div>" +
                                            "<div class=\"col-8\">"+
                                            "<h3><strong>" + response.data[i].user.displayName +"</strong></h3>"+
                                            "<p><i class=\"fa fa-map-marker\"></i> Riviera State 32/106</p>"+
                                            "<address>"+
                                            "<strong>" + response.data[i].user.email+"</strong><br>"+
                                            "795 Folsom Ave, Suite 600<br>"+
                                            "San Francisco, CA 94107<br>"+
                                            "<abbr title=\"Phone\">TEL: </abbr> " + response.data[i].user.phoneNumber +
                                            "</address>"+
                                            "</div>"+
                                            "</a>"+
                                            "</div>"+
                                            "</div>";
                                        $("#MembersContain").append(str);
                                    }
                                })
                            .catch((error) => console.log(error));
                    })
                .on('copy_node.jstree',
                    function(e, data) {
                        alert('copy_node.jstree');
                        //$app.debug('copy_node completed', data);
                    })
                .on('move_node.jstree',
                    function(e, data) {
                        $.ajax({
                            type: "GET",
                            url: "test.php",
                            dataType: "html",
                            data: { user: "tony", pwd: 123 },
                            success: function(data) {
                                $("#result").html(data);
                            },
                            error: function(xhr) {
                                alert(xhr.status);
                            }
                        });
                        alert('move_node.jstree');
                        // this is where you connect to the server!
                        //doMoveNode(data);
                    })
                .jstree({
                    "state": { "key": "demo2" },
                    "plugins": ["dnd", "state", "wholerow", "contextmenu"],
                    'core': {
                        "themes": {
                            "responsive": false
                        },
                        // so that create works
                        "check_callback": true,
                        'data': function(obj, callback) {
                            var jsonstr = "[]";
                            var jsonarray = eval('(' + jsonstr + ')');
                            $.ajax({
                                type: "GET",
                                url: site.DataUrl + "?tableName=ObsOUs&filter=Enable=1&order=ParentOUID,OrderIndex",
                                dataType: "json",
                                async: false,
                                success: function(result) {
                                    var arrays = result;
                                    for (var i = 0; i < arrays.length; i++) {
                                        //console.log(arrays[i]);
                                        var arr = {
                                            "id": arrays[i].OUID,
                                            "parent": arrays[i].ParentOUID == null ? "#" : arrays[i].ParentOUID,
                                            "text": arrays[i].OUName,
                                            "code": arrays[i].OUCode,
                                            "enable": arrays[i].Enable,
                                            "level": arrays[i].Level,
                                            "index": arrays[i].OrderIndex
                                        }
                                        jsonarray.push(arr);
                                    }
                                },
                                error: function(xhr) {
                                    alert(xhr.status);
                                }
                            });
                            callback.call(this, jsonarray);
                        }
                    },
                    'contextmenu': {
                        'items': customMenu
                    }
                });
            var moveNode = function(node1, parent1, position1, more1) {
                alert("moveNode");
            };
            var copyNode = function(node2, parent2, position2, more2) {
                alert("copyNode");
            };
        });

        function customMenu(node) {
            var items = {
                "Ou_Create": {
                    "label": "@L["Ou_Create"]",
                    "icon": "fa fa-plus-square-o",
                    "action": function(data) {
                        nodeData = data;
                        $("#createModal").modal("show");
                    }
                },
                "Ou_Rename": {
                    "separator_before": false,
                    "separator_after": false,
                    "_disabled": false, //(this.check("rename_node", data.reference, this.get_parent(data.reference), "")),
                    "label": "@L["Ou_Edit"]",
                    "shortcut_label": "F2",
                    "icon": "fa fa-edit",
                    "action": function(data) {
                        nodeData = data;
                        var inst = $.jstree.reference(data.reference), obj = inst.get_node(data.reference);
                        $("#EditOuId").val(obj.original.id);
                        $("#EditOuName").val(obj.original.text);
                        $("#EditOuCode").val(obj.original.code);
                        $("#EditOuLevel").val(obj.original.level);
                        if (obj.original.enable) {
                            $("#EditOuEnable").attr("checked", true);
                        } else {
                            $("#EditOuEnable").attr("checked",'');
                        }
                        $("#EditOuIndex").val(obj.original.index);
                        $("#editModal").modal("show");
                    }
                },
                "Ou_Delete": {
                    "separator_before": false,
                    "icon": false,
                    "separator_after": false,
                    "_disabled": false, //(this.check("delete_node", data.reference, this.get_parent(data.reference), "")),
                    "label": "@L["Ou_Delete"]",
                    "icon": "fa fa-trash",
                    "action": function(data) {
                        var inst = $.jstree.reference(data.reference),
                            obj = inst.get_node(data.reference);
                        if (inst.is_selected(obj)) {
                            inst.delete_node(inst.get_selected());
                        } else {
                            inst.delete_node(obj);
                        }
                    }
                },
                "Ou_CreateUser": {
                    "label": "@L["Ou_CreateUser"]",
                    "icon": "fa fa-user-circle",
                    "action": function(data) {
                        nodeData = data;
                        $("#createUserModal").modal("show");
                    }
                },
            }
            return items;
        }

        function CreateNode() {
            var name = $("#CreateOuName").val();
            var code = $("#CreateOuCode").val();
            var level = $("#CreateOuLevel").val();
            var ouIndex = $("#CreateOuIndex").val();

            if (!name || !code || !level || !ouIndex) {
                var alertStr = "";
                if (!name)
                    alertStr = alertStr + " 請輸入單位名稱 ! ";
                if (!code)
                    alertStr = alertStr + " 請輸入單位編號 ! ";
                if (!level)
                    alertStr = alertStr + " 請輸入單位級別 ! ";
                if (!ouIndex)
                    alertStr = alertStr + " 請輸入單位排序 ! ";
                swal({
                    icon: "error",
                    title: " =輸入資料錯誤= ",
                    text: alertStr
                });
                return false;
            }

            var inst = $.jstree.reference(nodeData.reference), obj = inst.get_node(nodeData.reference);
            var ou = {
                "ouid": 0,
                "ouCode": code,
                "ouName": name,
                "level": level,
                "parentOUID": obj.id,

                "guid": "",
                "orderIndex": ouIndex
            }

            $.ajax({
                type: "POST",
                url: site.OUServiceUrl,
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(ou),
                async: true,
                success: function(result) {
                    if (!!result) {
                        var new_node = {};
                        new_node.parent = ou.parentOUID;
                        new_node.text = ou.ouName;
                        new_node.code = ou.ouCode;
                        new_node.level = ou.level;
                        inst.create_node(obj, new_node);
                        $("#createModal").modal("hide");
                    }
                },
                error: function(xhr) {
                    alert(xhr.status);
                }
            });

            //var inst = $.jstree.reference(nodeData.reference), obj = inst.get_node(nodeData.reference);
            //inst.create_node(obj, {}, "last", function(new_node) {
            //        try {
            //            new_node.text = name;
            //            var ou = {
            //                "ouid": 0,
            //                "ouCode": code,
            //                "ouName": name,
            //                "level": level,
            //                "parentOUID": obj.id,
            //                "guid": "",
            //                "orderIndex": ouIndex
            //            }


            //            //inst.edit(new_node);
            //        } catch (ex) {
            //            setTimeout(function() { inst.edit(new_node); }, 0);
            //        }
            //    });
        }

        function EditNode() {
            var ouid = $("#EditOuId").val();
            var name = $("#EditOuName").val();
            var code = $("#EditOuCode").val();
            var level = $("#EditOuLevel").val();
            var ouIndex = $("#EditOuIndex").val();
            var enable = $("input[Id='EditOuEnable']").is(":checked");

            if (!name || !code || !level || !ouIndex) {
                var alertStr = "";
                if (!name)
                    alertStr = alertStr + " 請輸入單位名稱 ! ";
                if (!code)
                    alertStr = alertStr + " 請輸入單位編號 ! ";
                if (!level)
                    alertStr = alertStr + " 請輸入單位級別 ! ";
                if (!ouIndex)
                    alertStr = alertStr + " 請輸入單位排序 ! ";
                swal({
                    icon: "error",
                    title: " =輸入資料錯誤= ",
                    text: alertStr
                });
                return false;
            }

            var inst = $.jstree.reference(nodeData.reference), obj = inst.get_node(nodeData.reference);
            var ou = {
                "ouid": ouid,
                "ouCode": code,
                "ouName": name,
                "level": level,
                "enable": enable,
                "parentOUID": obj.parent,
                "guid": "",
                "orderIndex": ouIndex
            }


            $.ajax({
                type: "PUT",
                url: site.OUServiceUrl,
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(ou),
                async: true,
                success: function(result) {
                    if (!!result) {
                        inst.delete_node(obj);
                        var new_node = {};
                        new_node.id = ou.ouid,
                            new_node.parent = ou.parentOUID;
                        new_node.text = ou.ouName;
                        new_node.code = ou.ouCode;
                        new_node.level = ou.level;

                        //var parentNode = inst.get_node(new_node.parent);
                        //inst.create_node(parentNode, new_node);

                        $("#using_json").jstree("refresh");
                        $("#editModal").modal("hide");
                    }
                },
                error: function(xhr) {
                    alert(xhr.status);
                }
            });
        }

        function CreateUser() {
            var userName = $("#CreateUserName").val();
            var password = $("#CreateUserPassword").val();
            var displayName = $("#CreateUserDisplayName").val();
            var birthday = $("#CreateUserBirthday").val();
            var email = $("#CreateUserMail").val();
            var tel = $("#CreateUserTEL").val();

            if (!userName || !password || !displayName || !birthday || !email || !tel) {
                var alertStr = "";
                if (!userName)
                    alertStr = alertStr + " 請輸入人員帳號 ! ";
                if (!password)
                    alertStr = alertStr + " 請輸入登入密碼 ! ";
                if (!displayName)
                    alertStr = alertStr + " 請輸入顯示名稱 ! ";
                if (!birthday)
                    alertStr = alertStr + " 請輸入生日 ! ";
                if (!email)
                    alertStr = alertStr + " 請輸入電子信箱 ! ";
                if (!tel)
                    alertStr = alertStr + " 請輸入連絡電話 ! ";
                swal({
                    icon: "error",
                    title: " =輸入資料錯誤= ",
                    text: alertStr
                });
                return false;
            }

            var inst = $.jstree.reference(nodeData.reference), obj = inst.get_node(nodeData.reference);
            var user = {
                "id": "string",
                "userID": 0,
                "displayName": displayName,
                "password":password,
                "birthDay": birthday,
                "userName": userName,
                "email": email,
                "phoneNumber": tel,
                "ouid": obj.id
            }
            

            $.ajax({
                type: "POST",
                url: site.UserServiceUrl,
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(user),
                async: true,
                success: function (result) {
                    if (!!result) {
                        var new_node = {};
                        new_node.parent = ou.parentOUID;
                        new_node.text = ou.ouName;
                        new_node.code = ou.ouCode;
                        new_node.level = ou.level;
                        inst.create_node(obj, new_node);
                        $("#createModal").modal("hide");
                    }
                },
                error: function (xhr) {
                    alert(xhr.status);
                }
            });
        }
    </script>
    <style>
        #myDiv {
            border: 1px solid red;
            width: 100px;
            height: 100px;
            display: block;
            margin: 200px auto;
        }
    </style>
}
